/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    text-transform: none !important;
    width:100%;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:22px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}
 
.ui-page-active2,#main{ 
    
    background: url(../img/bg4.png) bottom center no-repeat fixed !important;
    background-color: white !important;
    background-size: 100%;
    /*
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  */
}

.dev-header{
    text-align: center;
    background: url('../img/bg_white.png') !important;
}

.dev-header h1{
    margin: 0 30% !important;
    font-size: 19px !important;
    color: #124294 !important;
    font-weight: bold !important;
    overflow: visible !important;
    text-align: center !important;
    background: url('../img/logo.png') no-repeat left center;
    background-size: 40px 40px;
    padding-left: 43px !important;
    text-align: center !important;
    padding-top: .5em !important;
    padding-bottom: .5em !important;
}

.dev-body h2.dev-body-title{
    text-align: center;
    color: #005E26 !important;
    color: #fff !important;
    padding: 3px 0px !important;
    width: 100%;
    background: #F75F00;
}

.distance{
    color: #aaa;
}


.dev-kv-view-info span.title{
    font-weight: bold;
}

.dev-kv-view-box{
    border: 1px solid #ccc;
    padding: 4px;
}

/* SLD */
.openInBrowser{
    color: #F75F00 !important;
    font-weight: bold !important;
}

.dev-btn{
}

.ui-dev-btn{
    background: url('../img/bg_white2.png') !important;
}

.dev-btn img{
    width: 100%; 
}

.dev-back{
    /*
    position: absolute;
    top: 0.24em;
    left: .4em;
    margin: 0;
    */
}

.dev-refresh-map{
}

.dev-comment-form{
}

.dev-comment-form label{
    margin-top: 20px;
    color: #A23500;
}

.dev-comment-form #image{
    margin-top: 20px;
    color: #A23500;
}

#comment_image_div,#comment_image{
    width: 50%;
    text-align: center;
    margin: 0 auto;
}



#map{
    width: 100%;
    height: 400px;
}

.phone-number{
    text-align: center;
    font-size: 18px;
}

.phone-number .phone-number-title{
    font-weight: bold;
    color: #A23E00;
}

.phone-number .phone-number-num{
    color: blue;
    text-decoration: underline;
}

#map-page, #map-canvas { width: 100%; height: 100%; padding: 0; }


@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
